/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font-family: "Mulish", sans-serif; */
/* font-family: "Inter", sans-serif; */

/* class veriabal */
.b_n{
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
    color: rgb(19, 19, 24);
}
.b_h1{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
}
.b_p{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.btn-fn{
    background-color: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.h2_40{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.p_16{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.p_16_b{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.p_d{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.i_s{
    width: 20px;
    height: 20px;
}
.btn-prymary{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    padding: 14px 35px;
    border: none;
}
.h3_28{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.h3_24{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}
.p_tomato{
    color: rgb(255, 84, 0);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}
.p_b{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}
/* common class */
.tomato{
    color:rgb(255, 84, 0);
}
.tdn{
    text-decoration: none;
}
.b{
    font-weight: 700;
}
.center{
    text-align: center;
}
.w{
    width: 100%;
    height: 52px;
}
.flex{
    display: flex;
}
/* start body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_main{
    max-width: 1170px;
    height: auto;
    margin: auto;
    font-family: "Mulish", sans-serif;
}
header{
    width: 100%;
    height: auto;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>span{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
nav ul{
    width: 506px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav>ul>li>a{
    color: rgb(66, 66, 71);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.banar{
    margin-top: 50px;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%),url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banar_box{
    width: 800px;
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.banar_box>span{
    width: 676px;
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.banar_box>div{
    width: 800px;
    height: 84px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter:blur(1px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banar_box>div> input,select,button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
.banar_box>div> input::placeholder ,select{
    color: rgba(19, 19, 24, 0.5);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
}
/* popular */
.popular{
    margin-top: 100px;
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: 577px 540px;
    justify-content: space-between;
}
.popular_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popular_text>ul{
    list-style: inside;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.popular_img{
    width: 100%;
    height: 100%;
    background-image: url('../Images/Rectangle\ 4.png');
    background-size: cover;
}

/* choose */
.choose{
    margin-top: 100px;
    width: 100%;
    height: auto;
}
.choose_text{
    width: 643px;
    height: 126px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.choose_container{
    width: 1170px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.row-1{
    display: grid;
    height: 300px;
    grid-template-columns: repeat(2, 573px);
    justify-content: space-between;
}
.maldives{
    background-image: url('../Images/Rectangle\ 5.png');
    display: flex;
    justify-content: center;
    align-items: center;
}
.indonesia{
    background-image: url('../Images/Rectangle\ 8.png');
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-2{
    display: grid;
    height: 286px;
    grid-template-columns: 350px 440px 350px;
    justify-content: space-between;
}
.srilanka{
    background-image: url('../Images/Rectangle\ 6.png');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.north{
    background-image: url('../Images/Rectangle\ 7.png');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.kashmir{
    background-image: url('../Images/Rectangle\ 9.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.row-3{
    display: grid;
    height: 300px;
    grid-template-columns: 473px 673px;
    justify-content: space-between;
}
.bangladesh{
    background-image: url('../Images/Rectangle\ 11.png');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.bandarban{
    background-image: url('../Images/Rectangle\ 10.png');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
/* us */
.us{
    margin-top: 100px;
    width: 1170px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}
.us_text{
    width: 643px;
    height: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.us_container{
    width: 1170px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}
.us_row1{
    width: 100%;
    height: 284px;
    display: grid;
    grid-template-columns: repeat(2 , 573px);
    justify-content: space-between;
}
.hotel{
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}
.hotel>div{
    width: 486px;
    height: 220px;
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}
.hotel>div>img{
    width: 64px;
    height: 64px;
}
.map{
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}
.map>div{
    width: 486px;
    height: 220px;
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}
.map>div>img{
    width: 64px;
    height: 64px;
}
.us_row2{
    width: 100%;
    display: grid;
    height: 284px;
    grid-template-columns: 573px;
    justify-content: center;
}
.price{
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
}
.price>div{
    width: 486px;
    height: 220px;
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}
.price>div>img{
    width: 64px;
    height: 64px;
}

/* deals */
.deals{
    margin-top: 100px;
    width: 1170px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}
.deals_text{
    width: 643px;
    height: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.deals_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.deals_item1{
    width: 100%;
    height: 500px;
    background-image: url('../Images/Group\ 39.png');
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.deals_item1>div,.deals_item2>div,.deals_item3>div{
    width: 579px;
    height: 389px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.8);
    margin: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deals_item1>div>div,.deals_item2>div>div,.deals_item3>div>div{
    width: 452px;
    height: 289px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.some_info1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.some_info1>span{
    display: flex;
    column-gap: 8px;
}
.deals_item2{
    width: 100%;
    height: 500px;
    background-image: url('../Images/Group\ 40.png');
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.deals_item3{
    width: 100%;
    height: 500px;
    background-image: url('../Images/Group\ 39.png');
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* simple */
.simple{
    margin-top: 100px;
    width: 1170px;
    height: 424px;
    display: grid;
    grid-template-columns: 532px 610px;
    justify-content: space-between;
}
.simple_text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.simple_text>ul{
    list-style: inside;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.simple_img{
    width: 100%;
    background-image: url('../Images/Group\ 40089.png');
    background-size: cover;
}
/* subscribe */
.subscribe{
    margin-top: 100px;
    width: 1170px;
    height: 422px;
    display: grid;
    grid-template-columns: 474px 672px;
    justify-content: space-between;
}
.subscribe_text{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;   
    display: flex;   
    justify-content: center;
    align-items: center;
}
.subscribe_text>div{
    width: 393px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text_items{
    width: 350px;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.input{
    width: 100%;
    height: 52px;
    font-size: 20px;
    font-weight: 500;
    margin: 16px 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}
.input::placeholder{
    color: rgba(19, 19, 24, 0.3);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 18px;
}
.input:focus{
    outline-color: rgb(255, 84, 0);
}
.w{
    width: 100%;
}
.subscribe_img>div{
    width: 393px;
    height: auto;
}
.subscribe_img{
    width: 100%;
    background-image: url('../Images/Rectangle\ 8\ \(1\).png');
    background-size: cover;
}